.app {
    height: 100vh;
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    /* position: relative; */
}

.main-layout {
    padding: 2rem;
    height: 100%;
    display: flex;
    gap: 2rem;
}

main{
  flex:1;
  background: rgba(252, 246, 249, 0.78);
  border: 3px solid #FFFFFF;
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 0;
  }
}